<!DOCTYPE html>
<html lang="zh-cmn-Hans">
    <head>
        <meta charset="utf-8">
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0"
        >
        <title>react-statement</title>
    </head>
    <body>
        <div id="root"></div>
        <script src=https://cdn.polyfill.io/v2/polyfill.min.js></script>
    </body>
</html>
